.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;

  &-wrapper {
    background-image: url(../assets/images/banner1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    height: auto;
    width: 1440px;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-container {
    max-width: 1084px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 669px 92px;
    grid-template-areas: "leftBanner rightBanner" "bottomBanner bottomBanner";
  }
}

.left-banner {
  grid-area: leftBanner;

  display: flex;
  flex-direction: column;

  padding-left: 15px;
  padding-right: 50px;
  padding-top: 138px;

  &-hero {
    background-color: rgba(0, 0, 0, 0.26);

    display: inline-block;
    padding: 5px 22px;

    & > h3 {
      font-weight: 700;
      font-size: 24px;
      line-height: 27.6px;

      &:last-child {
        margin-bottom: 22px;
      }
    }

    & > h2 {
      font-family: $cardo;
      font-size: 64px;
      line-height: 88.66px;
    }

    & > p {
      color: rgba(255, 255, 255, 1);
      margin-top: 23px;
      margin-bottom: 15px;
      text-shadow: 0 2px 2px black;
      font-size: 18px;
      line-height: 21px;
    }
  }
}

.right-banner {
  grid-area: rightBanner;

  position: relative;
  display: inline-block;
  width: 300px;
  height: 320px;
  margin-top: 253px;
  background-color: rgba(0, 0, 0, 0.26);
  margin-left: auto;
  margin-right: 50px;

  &__hero {
    &--text {
      font-family: $artifika;
      display: flex;
      flex-direction: column;
      text-align: right;
      width: 60%;
      padding-left: 23px;
      padding-top: 9px;

      & > h1 {
        font-size: 72px;
        line-height: 88px;
      }

      & > h3 {
        font-size: 36px;
        line-height: 44px;
      }
    }

    &--number {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      text-align: right;
      padding-right: 20px;

      & > h1 {
        font-family: $asap;
        font-size: 96px;
        line-height: 110px;
        color: rgba(255, 23, 23, 1);
      }

      & > h3 {
        font-family: $artifika;
        font-size: 36px;
        font-weight: 400;
        line-height: 44px;
      }
    }
  }
}

.bottom-banner {
  grid-area: bottomBanner;

  background-color: #c1ddfe;
  width: 100%;

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(51, 51, 51, 1);
    gap: 0 9px;

    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
  }
}

.banner-feature {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 0 28px;
  padding: 19px 32px;
}

.btn-primary {
  font-weight: 700;
  padding: 10px 22px;
  font-size: 22px;
  line-height: 25px;
  width: fit-content;

  margin-top: 5px;
  margin-left: 6px;

  color: rgba(30, 30, 30, 1);
  background: rgba(239, 84, 84, 1);

  border: none;
  border-radius: 50px;
}

//Responsive
@media screen and (max-width: 768px) {
  .banner {
    &-container {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 321px auto;
      grid-template-areas: "leftBanner" "rightBanner" "bottomBanner";
    }
  }

  .right-banner {
    height: auto;
    margin: 5px 22px;
    margin-left: auto;
    margin-right: 20px;
  }

  .banner-feature {
    flex-wrap: wrap;
  }

  .bottom-banner {
    &__item {
    }
  }
}
