.payFinish {
  &-wrapper {
    max-width: 1440px;
    margin: 0 auto;
  }

  &-container {
    max-width: 1084px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 300px;
    padding: 0 15px;
    font-size: 18px;
    line-height: 20px;

    font-family: $podkova;

    & > h1 {
      margin-top: 30px;

      font-size: 36px;
      line-height: 40px;
    }
  }

  &-code {
    font-family: $codeFont;
    font-size: 36px;
    line-height: 39px;
    display: flex;
    justify-content: center;
    align-items: center;

    border: 0.5px solid #7e7e7e;
    padding: 8px 83px;
    width: 358px;

    margin-top: 9px;
    margin-bottom: 17px;

    &_label {
      margin-top: 25px;
    }
  }
  &-link {
    color: rgba(0, 133, 255, 1);
  }

  &-more {
    margin-top: 12px;
  }

  &-date {
    margin-top: 12px;
    font-size: 24px;
    line-height: 27px;
  }

  &-note {
    margin-top: 12px;
  }
}

//Responsive
@media screen and (max-width: 400px) {
  .payFinish {
    &-code {
      width: 100%;
    }
  }
}
