$white: rgba(226, 226, 226, 1);

$arimo: "Arimo", sans-serif;
$artifika: "Artifika", serif;
$cardo: "Cardo", serif;
$asap: "Asap", sans-serif;
$bellota: "Bellota", cursive;
$cinzel: "Cinzel", serif;
$rozha: "Rozha One", serif;
$podkova: "Podkova", serif;
$codeFont: "Archivo", sans-serif;

$wrapper: 1440px;
